
<h1>Eat-Da-Burger</h1>


<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <h2> Burgers </h2>
      <ul>
        {{#each unDevouredBurger}}
          <li>
            <p>
              {{this.id}}. {{this.burger_name}}

              <form action="/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="true">
                <button type="submit">devour it!</button>
              </form>
            </p>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="panel panel-default">
      <h2> Devoured Burgers </h2>
        <ul>
          {{#each devouredBurger}}
            <li>
              <p>
                {{this.id}}. {{this.burger_name}}
              </p>
            </li>
          {{/each}}
        </ul>
    </div>
  </div>
</div>


<h2>Add a Burger!</h2>
<form method="POST" action="/" class="button-size">
	<textarea type="text" name="burger_name"></textarea>
	<button type="submit">Add!</button>
</form>